body {
  margin: 0;
}

#grid {
  width: 800px;
  border: 1px solid black;
  margin: 0 auto;
  font-size: 0;
}

#grid::after {
    content: "";
    display: table;
    clear: both;
}

.square {
  height: 40px;
  width: 40px;
  margin: 0;
  padding: 0;
  float: left;
  background-color: black;
  opacity: .1;
}

.buttons {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.buttons ul {
  list-style-type: none;
  display: inline-block;
  margin: 0;
  padding: 15px 0;
}

.button {
  text-align: center;
  text-decoration: none;
  width: 220px;
  height: 30px;
  padding: 5px 10px;
  background: #0D6;
  border: 1px solid #0D6;
  color: #FFF;
}

.button:hover {
  background: #FFF;
  color: #0D6;
}
